body {
	margin: 0;
	padding: 0;
	border: 0; 
	font-family:Georgia, 'Times New Roman', Times, serif;
	background-color: #0040ff;  
}


header { 
	
	height: 75px;
	padding-top: 25px;	
	color: rgb(0, 174, 255);
	background-color: rgb(8, 121, 220);
	display: flex;
	
	
	
}

main {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	flex-wrap: wrap;
		
}

.box {
	width: 350px;
	height: 400px;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 20px;	
	color: #000000;
	border-style: inherit;    
	margin-bottom: 20px;
	
}
.box:hover {
	box-shadow: 10px 10px 15px #000000;
}

.box h2 {
	margin: 0 0 10px 0;
	padding: 0;
}

.box figure {
	width: 300px;
	height: 200px;
	padding-top: 10px;
	text-align: center;
	margin: auto;
}

img {
	width: 300px;
	height: 200px;    
}


.box p {
	text-align: center;	
}

footer {
	background-color: black;
	height: 50px;
	padding-top: 10px;
	color: rgb(0, 174, 255);
	text-align: center;
}

header img {
width: 50px;
height: 50px;
display: flex;
justify-content:left;

}
